:root{
    --main-font: 'Oswald';
    --header-font: 'Titan One';
    --secondary-font: 'Titan One';
}

* {
    margin: auto;
    padding: 0;
    font-family: var(--main-font), Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1em;
    font-size: 18px;
    box-sizing: border-box;
}

main {
    max-width: 800px;
}

/*>>>>>NAVBAR STYLING<<<<<*/
nav {
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    text-align: center;
    padding: 0.5em;
    list-style: none;
    cursor: pointer;
}

#navRandom, #navSearch, #navLogin, #navLogout {
    cursor: pointer;
}

#navRandom {
    display: none;
}

#navPantry {
    cursor: auto;
}

#search-recipes {
    position: relative;
}

.searchBar {
    border-radius: 6px;
    width: 175px;
    height: 20px;
    padding: 0.75em;
    background-image: url(../img/magnifying-glass.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888;
    cursor: pointer;
}

.tooltipText {
    display: none;
}

.searchBar:hover + .tooltipText {
    width: auto;
    background-color: darkslategrey;
    color: white;
    font-family: var(--main-font);
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    padding: 0.75em;

    display: inline;

    /*Postion the tooltip*/
    /*NOW MY POSITIONING ISN'T WORKING >:(*/
    position: absolute;
    top: 2.5rem;
    left: 1em;
    z-index: 1;
}

#navLogin {
    transition: color .8s ease-in, background-color .8s ease-in, background-image .8s ease-in, width .8s ease-in, border-radius .8s ease-in;
}

#navLogin:hover {
    background-color: white;
    color: black;
    border-radius: 6px;
    width: +10%;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 95%;   
}

/* >>>>>>MAIN PAGE GENERIC STYLING<<<<<< */
main {
    margin-top: 2.2em;
    max-width: 800px;
    border-radius: 8px;
    text-align: center;
    padding: 1em;
}

/*>>>>>HOME PAGE STYLING<<<<<*/
#pageTitle {
    text-align: center;
    padding: 0.75em;
    font-size: 2rem;
    font-family: var(--header-font);
}

#clickMe {
    padding: 1em;
    margin-top: 1em;
    background-color: white;
    border-radius: 100%;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

#clickMe:hover {
    background-color:rgb(151, 146, 146);
    border-radius: 100%;
}

input:focus {
    outline: none;
}

#contentSearchBar {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 30px;
      background-size: 30px 30px;
      box-shadow: 1px 2px #585151; 
      width: 375px;
      height: 54px;
      padding: 10px;
      font-size: 20px;
      border: black;
      cursor: pointer;
      
}

#home-page-text {
    padding: 1em;
}

.tagString {
    margin-left: 2em;
}

.tag {
    width: 100%;
    text-align: left;
}

#tag-list-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* >>>>>>ALL RECIPES PAGE STYLING<<<<<< */
#searchRecipeArea {
    padding: 1em;
}

#contentSearchBar {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#recipe-list-styling {
    list-style: none;
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1em;
    cursor: pointer;
}

.recipe {
    padding: .25em;
    border-radius: 6px;
    transition: background-color 0.5s ease-in-in;
}

.recipe:hover {
    background-color: rgb(151, 146, 146);
}

.recipeDetails {
    font-size: 20px;
    padding-top: 0.25rem;
    padding-bottom: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* >>>>>>RECIPE DETAILS PAGE STYLING<<<<<< */
h1 {
    font-style: var(--header-font);
}

#recipe-details-area {
    padding: 1em;
}

#recipe-details-area h1, #recipe-details-area h2, #recipe-details-area h3, #recipe-details-area h4, #recipe-details-area h5 {
    padding: 0.5em;
}

#recipe-details-area h1 {
    font-size: 24px;
    font-family: var(--header-font);
}

#recipe-details-area h2 {
    font-size: 20px;
}

#nitty-gritty {
    text-align: left;
}

#nitty-gritty p {
    padding: 1em;
}

#nitty-gritty ul li {
    margin-left: 2.5em;
}

#recipedetailstaglist {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

/* >>>>>EDIT AND ADD RECIPE FORM STYLING<<<<< */
#EditRecipeForm, #AddRecipeForm {
    text-align: left;
    padding: 0.5em;
}

#EditRecipeForm h1, #EditRecipeForm h2, #EditRecipeForm h3, #EditRecipeForm h4, #EditRecipeForm h5, #AddRecipeForm h1, #AddRecipeForm h2, #AddRecipeForm h3, #AddRecipeForm h4, #AddRecipeForm h5 {
    padding: 0.5em;
    font-size: 24px;
}

#EditRecipeForm input, #AddRecipeForm input{
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 4px;
    width: 100%;
}

#EditRecipeForm #recipeDescription, #EditRecipeForm #recipeInstructions, #AddRecipeForm #recipeDescription, #AddRecipeForm #recipeInstructions {
    width: 100%;
    height: 150px;
    margin: .5em;
    padding: 0.5em;
    resize: none;
    text-align: left;
    border-radius: 2px;
}

#recipeIngredients {
    padding-left: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#tagSection h5 {
    font-size: 24px;
    padding: 0.5em;
}

#tagSection #tagList {
    list-style: none;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#btnFinishEditing {
    margin-top: 2rem;
}

#existingTagDDL {
    font-size: 14px;
    padding: 0.25em;
}

option {
    background-color:rgb(255, 255, 255);
    color: black;
    font-size: 14px;
    padding: 0.25em;
    font-family: var(--main-font), Verdana, Geneva, Tahoma, sans-serif;
}

/* >>>>>>AVATAR AND BUTTON STYLING<<<<<< */

input {

}

#loginBtn {
    display: block;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#registerBtn {
    display: block;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer; 
}

.universalBtn {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.removeIngredientbtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#btnAddIngredient {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btnAddTagFromList {
    border-radius: 10px; 
    width: 160px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btnAddNewTag {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#removebtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#removeTagbtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#btnFinishRecipe {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btnNextPage {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.recipeDelete {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#btnNewRecipe {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#username {
    padding: 12px 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 2px black;
    width: 275px;
    height: 44px;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    /* border: none; */
    /* box-shadow: 1px 2px #888888; */
    cursor: pointer;
    text-align: center;
}

#name {
    padding: 12px 20px;
    margin-top: 1em;
    display: block;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    width: 275px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    /* box-shadow: 1px 2px #888888;  */
    cursor: pointer;
    text-align: center;
}

#password {
    padding: 12px 20px;
    display: block;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    width: 275px;
    height: 44px;
    background-image: url(../img/hidden.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    /* border: none;
    box-shadow: 1px 2px #888888; */
    cursor: pointer;
    text-align: center;
}

#registerLink {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

#registerLinkBtn {
    background: none;
    border: none;
    padding-right: 5px;
    padding-left: 15px;
    cursor: pointer;
}

#registerLinkBtn:hover {
    color: rgb(51, 164, 230);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(51, 164, 230);
}