* {
    margin: 0;
    padding: 0;
}

nav {
    margin: 5px;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align: center;
    border: none; 
}

#navRandom {
    display: none;
    cursor: pointer;
}

#navPantry {
    cursor: auto;
}

#navSearch {
    cursor: pointer;
}

#navLogin {
    cursor: pointer;
}

#navLogout {  
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

li {
    list-style: none;
}


div.tagString {
    display: none;
}

#clickMe {
    cursor: pointer;
    animation: updown 4s ease;
    animation-duration: 10s;
}

#smRandom {
    cursor: pointer;
    animation: smUpdown 4s ease;
    animation-duration: 10s;
}

@keyframes smUpdown {
    0% {
      transform: translateY(-50%);
    }
  
    50% {
      transform: translateY(10%);
    }
  
    100% {
      transform: translateY(3%);
    }
}


@keyframes updown {
    0% {
      transform: translateY(-50%);
    }
  
    50% {
      transform: translateY(7%);
    }
  
    100% {
      transform: translateY(-20%);
    }

    100% {
        transform: translateY(3%);
      }
}

.searchBar {
    border-radius: 10px;
    width: 175px;
    height: 24px;
    padding: 2px;
    background-image: url(../img/magnifying-glass.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888;
    cursor: pointer;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: auto;
    background-color: rgba(29, 28, 28, 0.685);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    font-size: small;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    outline: none;
}

#contentSearchBar {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 30px;
      background-size: 30px 30px;
      box-shadow: 1px 2px #585151; 
      width: 375px;
      height: 54px;
      padding: 10px;
      font-size: 20px;
      border: black;
      cursor: pointer;
      
}

#pageContent {
    text-align: center;
    padding: 48px;
}

#pageTitle {
    text-align: center;
    padding-top: 100px;
}

#pageTitle {
    font-size: 90px;
    font-family: 'Titan One', sans-serif;
}

#loginAvatar {
    padding-left: 19px;
}

p {
    font-size: 20px;
    color: rgb(151, 146, 146);
}

#login {
    padding-left: 575px;
}

#positionLoginBtn {
    padding-left: 640px;
}

#loginBtn {
    display: block;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#positionRegisterBtn {
    padding-left: 640px;
}

#registerBtn {
    display: block;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer; 
}

.universalBtn {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.removeIngredientbtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#btnAddIngredient {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btnAddTagFromList {
    border-radius: 10px; 
    width: 160px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btnAddNewTag {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#removebtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#removeTagbtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

.removeTagbtn {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#btnFinishRecipe {
    border-radius: 10px; 
    width: 120px;
    height: 35px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#btnNextPage {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.recipeDelete {
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-size: 15px;
    cursor: pointer;
}

#btnNewRecipe {
    border-radius: 10px; 
    width: 120px;
    height: 30px;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#username {
    padding: 12px 20px;
    margin: 40px 0 40px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    width: 275px;
    height: 44px;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888;
    cursor: pointer;
    text-align: center;
}

#name {
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    width: 275px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888; 
    cursor: pointer;
    text-align: center;
}

#password {
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    width: 275px;
    height: 44px;
    background-image: url(../img/hidden.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 95%;
    border: none;
    box-shadow: 1px 2px #888888;
    cursor: pointer;
    text-align: center;
}

#registerLink {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

#registerLinkBtn {
    background: none;
    border: none;
    padding-right: 5px;
    padding-left: 15px;
    cursor: pointer;
}

#registerLinkBtn:hover {
    color: rgb(51, 164, 230);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(51, 164, 230);
}